- content_for :header do
  = link_to "Downloads", downloads_path
  &gt;
  =@download.name
  
%p= @download.description

- content_for :sidebar do 
  = link_to "Download", package_download_path(@download), :class => :download_link