/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, #header #top nav, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ================ */
/* = The 1Kb Grid = */
/* 12 columns, 60 pixels each, with 20 pixel gutter */
/* ================ */
.grid_1 {
  width: 60px; }

.grid_2, #header #top h1, section.home_download a.download_link {
  width: 140px; }

.grid_3 {
  width: 220px; }

.grid_4, section.home_download header {
  width: 300px; }

.grid_5 {
  width: 380px; }

.grid_6, section.home_download p {
  width: 460px; }

.grid_7 {
  width: 540px; }

.grid_8 {
  width: 620px; }

.grid_9, #header #top nav {
  width: 700px; }

.grid_10 {
  width: 780px; }

.grid_11 {
  width: 860px; }

.grid_12 {
  width: 940px; }

.column, #header #top h1, #header #top nav, section.home_download header, section.home_download p, section.home_download a.download_link {
  margin: 0 10px;
  overflow: hidden;
  float: left;
  display: inline; }

.row, #header, #main, #footer, #header #top, section.home_download {
  width: 960px;
  margin: 0 auto;
  overflow: hidden; }
  .row .row, #header .row, #main .row, #footer .row, #header #top .row, section.home_download .row, .row #header, #header #header, #main #header, #footer #header, #header #top #header, section.home_download #header, .row #main, #header #main, #main #main, #footer #main, #header #top #main, section.home_download #main, .row #footer, #header #footer, #main #footer, #footer #footer, #header #top #footer, section.home_download #footer, .row #header #top, #header .row #top, #header #top, #main #header #top, #header #main #top, #footer #header #top, #header #footer #top, #header #top #top, section.home_download #header #top, #header section.home_download #top, .row section.home_download, #header section.home_download, #main section.home_download, #footer section.home_download, #header #top section.home_download, section.home_download section.home_download {
    margin: 0 -10px;
    width: auto;
    display: inline-block; }

body {
  font-size: 14px;
  line-height: 1.5714285714285714em;
  margin: 0;
  padding: 0; }

h1 {
  margin: 0;
  font-size: 1.5714285714285714em;
  line-height: 1em;
  margin-bottom: 1em; }

h2 {
  margin: 0;
  font-size: 1.4285714285714286em;
  line-height: 1.1em;
  margin-bottom: 1.1em; }

h3, #header #top nav {
  margin: 0;
  font-size: 1.2857142857142858em;
  line-height: 1.2222222222222223em;
  margin-bottom: 1.2222222222222223em; }

h4 {
  margin: 0;
  font-size: 1.1428571428571428em;
  line-height: 1.375em;
  margin-bottom: 1.375em; }

p, ul, blockquote, pre, td, th, label {
  margin: 0;
  font-size: 1em;
  line-height: 1.5714285714285714em;
  margin-bottom: 1.5714285714285714em; }

p.small {
  margin: 0;
  font-size: 0.8571428571428571em;
  line-height: 1.8333333333333333em;
  margin-bottom: 1.8333333333333333em; }

table {
  border-collapse: collapse;
  margin-bottom: 1.5714285714285714em; }

/* Layout */
#header #top h1 a {
  padding: 1em; }
#header #top nav {
  margin-left: 70px;
  margin-top: 1em; }
  #header #top nav li {
    display: inline;
    margin-right: 1em; }
    #header #top nav li a {
      margin-right: 1em; }

#footer {
  padding-top: 1em; }

/* Typography */
body {
  color: #666;
  font-family: Helvetica, Arial, san-serif; }

a {
  color: #6295ec; }

#bar {
  background: #94aa62;
  height: 5px; }

#header {
  color: #bdbdbd;
  margin-top: 1em; }
  #header h1 {
    text-align: center; }
    #header h1 a {
      background: #d2dfb3;
      color: #fff;
      display: block;
      font-weight: bold;
      text-decoration: none; }
  #header nav a {
    color: #94aa62;
    text-decoration: none; }
  #header nav a:hover {
    text-decoration: underline; }
  #header h2 {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    line-height: 1.5em;
    padding: 1em;
    text-align: justify; }

#footer {
  border-top: 1px solid #eee;
  text-align: center; }
