body {
	font-size: 14px;
	line-height: 1.5714285714285714em;
	margin: 0; padding: 0
}
h1 {
	margin: 0;
	font-size: 1.5714285714285714em;
	line-height: 1em;
	margin-bottom: 1em;
}
h2 {
	margin: 0;
	font-size: 1.4285714285714286em;
	line-height: 1.1em;
	margin-bottom: 1.1em;
}
h3 {
	margin: 0;
	font-size: 1.2857142857142858em;
	line-height: 1.2222222222222223em;
	margin-bottom: 1.2222222222222223em;
}
h4 {
	margin: 0;
	font-size: 1.1428571428571428em;
	line-height: 1.375em;
	margin-bottom: 1.375em;
}
p, ul, blockquote, pre, td, th, label {
	margin: 0;
	font-size: 1em;
	line-height: 1.5714285714285714em;
	margin-bottom: 1.5714285714285714em;
}
p.small {
	margin: 0;
	font-size: 0.8571428571428571em;
	line-height: 1.8333333333333333em;
	margin-bottom: 1.8333333333333333em;
}
table {
	border-collapse: collapse;
	margin-bottom: 1.5714285714285714em;
}
