/* Layout */

#header, #main, #footer {
  @extend .row;
}

#header {
  #top {
    @extend .row;
    h1 {
      @extend .column;
      @extend .grid_2;
      a {
        padding: 1em;
      }
    }
    nav {
      @extend h3;
      @extend .column;
      @extend .grid_9;
      margin-left: 70px;
      margin-top: 1em;
      li {
        display: inline;
        margin-right: 1em;
        a {
          margin-right: 1em;
        }
      }
    }
  }
}

section.home_download {
  @extend .row;
  header {
    @extend .column;
    @extend .grid_4;
  }
  p {
    @extend .column;
    @extend .grid_6;
  }
  a.download_link {
    @extend .column;
    @extend .grid_2;
  }
}

#footer {
  padding-top: 1em;
}