/* Layout */

#header, #main, #footer {
  @extend .row;
}

#header {
  #top {
    @extend .row;
    h1 {
      @extend .column;
      @extend .grid_2;
      a {
        padding: 1em;
      }
    }
    nav {
      @extend h3;
      @extend .column;
      @extend .grid_9;
      margin-left: 70px;
      margin-top: 1em;
      li {
        display: inline;
        margin-right: 1em;
        a {
          margin-right: 1em;
        }
      }
    }
  }
}

section.project {
  @extend .column;
  @extend .grid_6;
  header {
    display: none;
  }
  p {
    @extend .grid_4;
    margin: 0 auto;
  }
}

section.home_download {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 1em;
}

form#new_contact_form {
  legend, div {
    margin-bottom: 1em;
  }
  .fields {
    input, textarea {
      width: 430px;
    }
    textarea {
      height: 250px;
    }
  }
}

#footer {
  padding-top: 1em;
}