/* Layout */

#header, #main, #footer {
  @extend .row;
}

#header {
  #top {
    @extend .row;
    h1 {
      @extend .column;
      @extend .grid_2;
      a {
        padding: 1em;
      }
    }
    nav {
      @extend h3;
      @extend .column;
      @extend .grid_9;
      margin-left: 70px;
      margin-top: 1em;
      li {
        display: inline;
        margin-right: 1em;
        a {
          margin-right: 1em;
        }
      }
    }
  }
}