- content_for :header do
  Still piecing a story together.
  
%p
  Here are the PubMed links to some of the people working on HumMod.
  
  %ul
    %li
      %a{:href => "http://www.ncbi.nlm.nih.gov/pubmed?term=%22Coleman%20TG%22%5BAuthor%5D"}
        Dr. Tom Coleman
    %li
      %a{:href => "http://www.ncbi.nlm.nih.gov/pubmed?term=%22Hester%20RL%22%5BAuthor%5D"}
        Dr. Robert Hester
    %li
      %a{:href => "http://www.ncbi.nlm.nih.gov/pubmed?term=%22Summers%20RL%22%5BAuthor%5D"}
        Dr. Richard Summers
    %li
      %a{:href => "http://www.ncbi.nlm.nih.gov/pubmed?term=%22Iliescu%20R%22%5BAuthor%5D"}
        Dr. Radu Iliescu