- content_for :header do
  Help
  
%p
  We are building a documentation system.  When it's done, we'll post helpful tutorials and such.  Below are some PDFs we built to give some quick information.
  
%p
  If you need more help or information, send us an #{link_to "email", contact_path, :rel => :facebox, :id => :contact_form}.
  
%ul
  %li
    %a{:href => "../help_documents/Model_Editor_XML_Quickstart_Guide.pdf"} Model Editor and XML Quckstart Guide
  %li
    %a{:href => "../help_documents/Model_Navigator_User_Manual-1.0-2003.pdf"} Model Navigator User Manual (2003)
  %li
    %a{:href => "../help_documents/schema.pdf"} The Schema