- content_for :header do
  Help
  
%p
  We are building a documentation system.  When it's done, we'll post helpful tutorials and such.  Below are some PDFs we built to give some quick information.
  
%p
  If you need more help or information, send us an #{link_to "email", contact_path, :rel => :facebox, :id => :contact_form}.