- content_for :header do
  Help
  
%p
  We are building a documentation system.  When it's done, we'll post helpful tutorials and such.  Below are some PDFs we built to give some quick information.
  
%p
  If you need more help or information, send us an #{link_to "email", contact_path, :rel => :facebox, :id => :contact_form}.
  
%ul
  %li
    %a{:href => "../help_documents/Model_Editor_XML_Quickstart_Guide.pdf"} Model Editor and XML Quckstart Guide
  %li
    %a{:href => "../help_documents/Model_Navigator_User_Manual-1.0-2003.pdf"} Model Navigator User Manual (2003)
  %li
    %a{:href => "../help_documents/schema.pdf"} The Schema
  %li
    %a{:href => "../help_documents/HumMod_User_Manual.pdf"} HumMod User Manual
  %li
    %a{:href => "../help_documents/QCP_Lab_Manual.pdf"} QCP Lab Manual
  %li
    %a{:href => "../help_documents/QCP_UsersGuide.pdf"} QCP Users Guide
  %li
    %a{:href => "www.zotero.org/groups/hummod_references"} Zotero Database of references.

- unless Document.published.blank?
  %article
    %header
      %h1
        Help Documents
      
    %ul
      - Document.published.each do |doc|
        %li= link_to doc.title, doc
      
      %li= link_to "New Document", new_document_path if user_signed_in?