- content_for :header do
  a better understanding of the human body; a mathematical model of integrated human physiology; a framework for developing models and expanding current modeling practices.

- @downloads.each do |download|
  %section.home_download
    %header
      %h1= link_to download.name, download_path(download)
    %p
      This is the description of this download.  Yeah.
    = link_to "Download", package_download_path(download), :class => :download_link