- content_for :header do
  a better understanding of the human body; a mathematical model of integrated human physiology; a framework for developing models and expanding current modeling practices.
    
%section.project
  %header
    %h1 Modeler

  %p
    = link_to image_tag('../images/modeler_small.png'), @modeler
    See the physiology.
    
%section.project
  %header
    %h1 Navigator
  %p
    = link_to image_tag('../images/navigator_small.png'), @navigator
    Explore the physiology.