- content_for :header do
  a better understanding of the human body; a mathematical model of integrated human physiology; a framework for developing models and expanding current modeling practices.
    
%section.project
  %header
    %h1 Project 1
  %p
    This is the first project's description and super catchy phrasing encouraging rapid downloading.
    
%section.project
  %header
    %h1 Project 2
  %p
    This is the second project's awesome info.