- @downloads.each do |download|
  %section.home_download
    %header
      %h1= link_to download.name, download_path(download)
    %p
      This is the description of this download.  Yeah.
    = link_to "Download", download_the_download_path(download), :class => :download_link